{% extends "base.html" %}
{% block title %}Manutenção{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/adiciona_ocorrencia.css') }}">
{% endblock %} 
{% block home_link %}
{% if tipo_usuario=="funcionario" %}
<a href="{{url_for('funcionario.home')}}" class="scpq-text" title="Logout">SCPQ</a>
{% else %}
<a href="{{url_for('home')}}" class="scpq-text" title="Logout">SCPQ</a>
{% endif %}
{% endblock %}
{% block content %}
<main class="container">
  <h1>Descreva o problema com o máximo de detalhes</h1>
  
  <form method="post" action="/adiciona_ocorrencia">
    <textarea name="problema" placeholder="Descreva o problema" required></textarea>

    <label for="data_abertura">Data da ocorrência</label>
    <input type="date" id="data_abertura" name="data_abertura" required>

    <div class="button-container">
      <button type="submit">Enviar</button>
    </div>
  </form>
</main>
{% endblock %}
