<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="foo" />
  <meta name="keywords" content="foo,bar" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Controle de Qualidade de Patrimônio</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/log_forms.css') }}">
</head>
<body>
  <div class="container">
    <h2>
      {% if sign_up %}
      Cadastro Discente
      {% else %}
      Sistema de Controle de
      Qualidade de Patrimônio
      {% endif %}
    </h2>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- Se estiver na página de cadastro (sign_up = True), mostra os links de cadastro. Senão, mostra os links de login. -->
    {% if sign_up %}
    <div class="account-switcher">
      <a href="/sign_up" class="current-account-btn">Discente</a>
      <a href="/docente/sign_up" class="account-btn">Docente</a>
      <a href="/funcionario/sign_up" class="account-btn">Funcionário</a>
    </div>
    {% else %}
    <div class="account-switcher">
      <a href="/login" class="current-account-btn">Discente</a>
      <a href="/docente/login" class="account-btn">Docente</a>
      <a href="/funcionario/login" class="account-btn">Funcionário</a>
    </div>
    {% endif %}
    {% if sign_up %}
    <form method="post" action="/sign_up">
      <!--Atributos comum a todos -->
      <input type="text" placeholder="CPF" name="cpf" required>
      <input type="text" placeholder="Nome" name="nome" required>
      <input type="email" placeholder="Email" name="email" required>
      <input type="password" placeholder="Senha" name="senha" required>

      <!--Atributos especificos do discente -->
      <input type="text" placeholder="Matrícula" name="matricula" required>
      
      <!--<input type="text" placeholder="Curso" name="curso" required>-->
      <select name="id_curso" id="id_curso" required>
        <option value="">Selecione um Curso</option>
        {% for c in cursos %}
            <option value="{{ c.id }}">{{ c.nome }}</option>
        {% endfor %}
      </select>


      <input type="date" placeholder="Data de início" name="data_inicio" required>
      <input type="date" placeholder="Data prevista de termino" name="data_termino" required>
      <div class="full-width button-container">
        <button href="/sign_up" type="submit">Criar Conta</button>
      </div>
    </form>
    <div class="button-container">
      <a href="/login" class="switch-btn">Já tem conta? Login</a>
    </div>
      {% if user_exists %}
      <script>
          window.onload = function() {
              alert("Usuário existente.");
          };
      </script>
      {% endif %}

    {% else %}

    <form method="post" action="/login">

      <input type="email" placeholder="Email" name="email" required class="full-width" />
      <input type="password" placeholder="Senha" name="senha" required class="full-width" />

      <div class="full-width button-container">
        <button href="/login" type="submit">Entrar</button>
      </div>
    </form>
    <div class="button-container">
      <a href="/sign_up" class="switch-btn">Não tem conta? Cadastre-se</a>
    </div>
    {% endif %}
  </div>
</body>

</html>