<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="foo" />
    <meta name="keywords" content="foo,bar" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8" />
    <title>Página Inicial Geral</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  </head>
  <body>
    <div class="header">
      <div class="header-left">
        <a href="{{url_for('home')}}" class="scpq-text" title="Home">SCPQ</a>
        <span class="greeting">Olá {{nome}}</span>
      </div>
      <div class="header-right">
        <a href="{{url_for('configuracoes')}}" class="settings-btn" title="Configurações">Configurações</a>
        <a href="/logout" class="logout-icon" title="Logout">
          <svg
            width="28"
            height="28"
            viewBox="0 0 24 24"
            fill="none"
            stroke="#2d4966"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4" />
            <polyline points="16 17 21 12 16 7" />
            <line x1="21" y1="12" x2="9" y2="12" />
          </svg>
        </a>
      </div>
    </div>
    <div class="main-content">
      <div class="button-list">
        <a href="{{ url_for('adiciona_ocorrencia') }}" class="main-btn">Adicionar ocorrência</a>
        <a href="{{ url_for('minhas_ocorrencias') }}" class="main-btn">Ver minhas ocorrências</a>
      </div>
    </div>
  </body>
</html>
