{% extends "base.html" %}
{% block title %}Home Funcionario{% endblock %}
{% block home_link %}
<a href="{{url_for('funcionario.home')}}" class="scpq-text" title="Home">SCPQ</a>
{% endblock %}
{% block content %}
<div class="main-content">
  <div class="button-list">
    <a href="{{ url_for('adiciona_ocorrencia') }}" class="main-btn">Adicionar ocorrência</a>
    <a href="{{ url_for('funcionario.todas_ocorrencias') }}" class="main-btn">Ver ocorrências</a>
    <a href="{{ url_for('funcionario.adicionar_manutencao') }}" class="main-btn">Adicionar manutenções</a>
    <a href="{{ url_for('funcionario.todas_manutencoes') }}" class="main-btn">Ver manutenções</a>
  </div>
</div>
{% endblock %}
